Source: tarantool-{{__name__}}
Priority: optional
Section: database
Maintainer: Roman Tsisyk <roman@tarantool.org>
Build-Depends: debhelper (>= 9), tarantool (>= 1.6.8.0)
Standards-Version: 3.9.8
Homepage: https://github.com/tarantool/{{__name__}}
Vcs-Git: git://github.com/tarantool/{{__name__}}.git
Vcs-Browser: https://github.com/tarantool/{{__name__}}

Package: tarantool-{{__name__}}
Architecture: all
Depends: tarantool (>= 1.6.8.0), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Lua module template for Tarantool
 This package provides a Lua module template for Tarantool.
